<div class="background-posts"> 
  <p id="notice"><%= notice %></p>
  <div class="page-header text-center">
    Resort Yoga Blog
  </div>

  <div class="table-container"> 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Created</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.created_at.strftime("%A, %B %e, %Y @ %I:%M%p " ) %> </td>
            <td><%= link_to 'Show', post, class: "btn btn-brand-btn" %></td>
            <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-brand-btn" %></td>
            <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-brand-btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Post', new_post_path, class: 'btn btn-brand' %>
  </div>
</div> 