<!DOCTYPE html>
<html>
  <head>
    <title>Resort Yoga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Quicksand' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid nav-bg">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag "logo/ry-logo-db.png", :class => "nav-logo" %>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="links"><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="links"><%= link_to "Resort Yoga", about_path %></li>
                <li role="separator" class="divider"></li>
                <li class="links"><%= link_to "Isabella Jones", isabella_path %></li>
              </ul>
            </li>
            <li class="links"><%= link_to "Blog", posts_path %></li>
            <li class="links"><%= link_to "Contact", new_contact_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://vimeo.com/professionals?utm_medium=cpc&utm_source=GOOGLE&utm_content=US_Search_Brand_Alone_Alpha_EN*Vimeo+-+Exact&utm_term=vimeo&utm_campaign=2000&gclid=EAIaIQobChMI1tDj7Y_j3AIV1LrACh11xAZxEAAYASABEgIppPD_BwE&gclsrc=aw.ds&dclid=CLynmPGP49wCFUytTwodCsMMnw">Videos</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="http://www.bettipot.net/">Betti-Pot</a></li>
              </ul>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
      <%= yield %>
    </div>

    
    
        
    
  </body>
</html>
